# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Виртуальное окружение
venv/
env/
ENV/
.venv

# Данные (HITRAN, большие промежуточные файлы)
data/processed/*.npy
data/processed/*.txt
data/raw/*.txt
data/processed/*.h5
data/plots/old_plots/
data/processed/old_results/
data/processed/k_abs/
*.png
*.h5
*.npy
*.data
*.header
*.mat

# Настройки IDE
.vscode/
.idea/
*.swp
*.swo

# Логи и временные файлы
*.log
*.tmp